<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Fauteuil</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    </head>

    <body>
	
		<div id="container">
			<div id="viewer">
				<img class="loader" src="./images/loading.gif">


				<div style="position:absolute;bottom:0;left:0px;width:50%;">
					<div id="description_area"><!-- Afficher la valeur de l'attribut "data-description" de la dernière checkbox cochée d'un accessoire   --></div>
					* Ces produits disposent d’une prise en charge par la Sécurité Sociale
				</div>

				<img class="color" :src="'./images/' + srcColor">
				<img v-for="accessoryImg of accessoriesImgs"
					 :src="'./images/' + accessoryImg"
					 class="accessory">
				

			</div>

			<form method="post" action="treatment.php" id="configurator">
				<h1>
					<i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
					Pimp ta HotWheelChair !!
					<i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
				</h1>

				<div class="category">Fauteuil :</div>
				<div id="form_colors">
					<div class="element" v-for="(color, index) of colors">
						<input type="radio" name="color"
							@change="showColor(index)"
                           :data-price="color.price"
							:value = "index">{{ color.title }}
					</div>


				</div>

				<input type="hidden" name="total" value="">
				<input type="hidden" name="total_bis" value="">

				<div class="category">Accessoires :</div>
				<div id="form_accessories">
					<div class="element" v-for="(access, index) of accessories">
						<input	type="checkbox"
								  name="accessories[]"
                                  @click="updatePrice(index)"
								  :value="access.image"
								  v-model="accessoriesImgs">
						<label :for="'accessory_' + index">{{ access.title }}</label>
						<span class="price">{{ access.price }}€
						<span v-if="access.LPPR" class="lppr">*</span>
					</span>
					</div>


				</div>
				<div id="total_area">
					Total	(sans prise en charge) <span  class="total"><span id="total">{{ total }}</span>€ TTC</span>

					<div style="clear:both;padding:2px;"></div>
					Total si prise en charge par la sécurité sociale<span  class="total"><span id="total_bis"><!-- Mettre le total bis ICI--></span>€ TTC</span>


				</div>
				<div style="clear:both;padding:2px;"></div>
				<input type="submit" name="continue"  id="demande" value="Envoyer votre demande"> <input type="submit" name="print" value="Imprimer votre devis">
		</div>
		</form>
		<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://unpkg.com/vue"></script>
		<script src = "configurator.js"></script>
    </body>
</html>