body{
  font-family: 'Open Sans';
  line-height: 2rem;
  color: #676767;
}

#wrapper{
  max-width: 1200px;
}

*::selection{
  background-color: #FB8A9B;
  color: white;
}

h1, h2, h3{
  font-family: 'Candal', serif;
}

a{
  text-decoration: none;
  color: #1E3E4B;
}

a:hover{
  color: #FB8A9B;
}

.cta{
  background-color: #FB8A9B;
  width: 100%;
  padding: 0.2rem 0;
  text-align: center;
  color: white;
  font-family: 'Candal', serif;
  font-size: 0.8rem;
}

.cta:hover{
  background-color: #1E3E4B;
  color: white;
}

i, a, img{
  transition: all 0.1s ease 0s;
}

p{
  font-size: 14px;
}

/* Bandeau */

#bandeau{
  background: url(../img/background.jpg) center;
}

#bandeau-img{
  color: white;
  text-align: center;
  padding: 10rem 0;
}

#bandeau-img p{
  padding: 1rem 0;
  font-family: 'Candal', serif;
}

#bandeau input{
  display: block;
  width: 100%;
  border: none;
  color: white;
  background: #FB8A9B;
  padding: 0.8rem 0 0.8rem 4rem;
  transition: all 0.1s ease 0s;
}

#bandeau input:hover{
  color: #FB8A9B;
  background: #1E3E4B;
  transition: all 0.1s ease 0s;
}

/* --- HEADER --- */

header{
  margin: 3.5rem 0;
  padding: 0 1rem;
  font-family: 'Candal', serif;
}

#nav-header{
  display: flex;
  justify-content: space-around;
}

#nav-header a:nth-child(n+2){
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem;
  padding-top: 2rem;
}

#nav-header i{
  margin: auto;
  color: #FB8A9B;
}

#nav-header a:hover i{
  color: #1E3E4B;
}

img{
  display: block;
  max-width: 80%;
}

img:hover{
  transform: scale(1.1);
  transition: all 0.1s ease 0s;
}


/* --- MAIN --- */

/* index.html */

.section-produits{
  width: 80%;
  margin: 4rem auto 0;
}

.section-produits h2{
  color: #1E3E4B;
  text-align: center;
  border: 2px dashed #1E3E4B;
  border-width: 1px;
  border-bottom: none;
  padding: 1.5rem 0;
  font-size: 1.4rem;
}

.produits{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 3rem 0 0;
}

.produits a{
  text-align: center;
}

.produits a:hover i, .produits a:hover h3{
  color: #1E3E4B;
}

.produits article{
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produits article i, .produits h3{
  color: #FB8A9B;
  margin: 0.5rem 0 0;
}

.produits article h3{
  font-size: 0.9rem;;
}

.prix{
  color: #FB8A9B;
  font-size: 1.3rem;
  font-weight: bold;
  margin:  1rem 0 0;
}

.produits article p:last-child{
  margin: 0.8rem 0;
}

/* serveur_mutualise.html
  serveur_dedie
  solution cloud */

article p{
  padding: 0 1rem;
}

.offres{
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #1E3E4B;
  border-width: 1px;
  padding: 0.5rem;
}

.offres h3{
  width: 100%;
  margin: 1rem 0rem 0;
  padding: 1rem 0;
  font-size: 0.9rem;
  text-align: center;
  background-color: #1E3E4B;
  color: white;
}

.prixMut{
  color: #666666;
  font-family: 'Candal', serif;
  font-size: 1rem;
  margin:  1rem 0;
}

.offres p:nth-child(2){
  padding: 0 0.2rem;
  margin: 0.5rem 0 0;
}

ul{
  width: 70%;
  list-style-type: circle;
  margin: 1 0 0.1rem;
  padding: 0 1rem;
  font-size: 13px;
}

/* ---Contact--- */

.fa-paper-plane, .fa-envelop, .fa-phone{
  text-align: center;
  width: 100%;
  color: #FB8A9B;
  margin: 1.2rem 0 0;
  border-bottom: 1px dashed #FB8A9B;
  border-width: 1px;
  padding: 0 0 0.5rem;
}

.coord{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.coord p{
  font-weight: bold;
  border-bottom: 1px dotted #1E3E4B;
  line-height: 1rem;
}

.coord a{
  font-weight: normal;
  font-size: 14px;
  color: #FB8A9B;
  margin: 0 1rem;
}

.coord a:hover{
  color: #1E3E4B;
}

adress{
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.6rem;
  padding: 1rem 0;
}

#map{
  margin: 2rem 0 0;
  border-top: 2px solid grey;
}

iframe{
  display: block;
  width: 100%;
  margin-bottom: -47px;
}

/* --- FOOTER --- */
footer{
  background: #1E3E4B;
  margin: 3rem 0 0;
  padding: 3rem 0;
}

footer nav{
  margin: 0 auto 2rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

footer nav a{
  color: white;
  font-family: 'Candal', serif;
  font-size: 0.8rem;
}

footer img{
  display: block;
  margin: 0 auto;
  max-width: 3%;
}

footer p{
  color: white;
  margin: auto;
  text-align: center;
  font-size: 0.7rem;
}
